/* Colour scheme

Background (White)
Highlight (green)  #267f00
Highlight (grey) #f5f5f5

Good - 28a745 (default) -> #267f00
Bad - dc3545 (default) -> #B40020
Share - #117a8b
Muted grey #6c757d

*/

/* Mobile Support 

(assumed width of 350~600px)

*/

/* Test formatting
-------------------------------------------------- */
.studystats{
    margin: 5px;
}

.good{
    color: #267f00;
}

.bad{
    color: #B40020;
}

.test_header{
    padding-left: 41px;
}

.btn#know, .btn#dunno, .btn#flip{
    width: 10em;
    font-size: 4vw; /*24px*/
}

.preest{
    font-size: 4vw; /*24px*/
}

.help_btn {
    color: #117a8b !important;
    padding-left: 20px;
    vertical-align: top;
}

.modalimg {
    max-width:90%;
}

.flashcard {
    margin: 20px;
    display: grid;
}

/* Front */
.frontside {
    right: 0px;
    width: 60%;
    max-width: 350px;
    margin: 0px auto;
}

.kanji {
    font-size: 128px;
}

.my_rank {
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 0;
}

.top-center {
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: -12px;
}

.top-right {
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 0;
}

/* Back */
.backside {
    right: 0px;
    max-width: 600px;
    margin: 0px auto;
    max-height: 350px;
    min-height: 150px;
    overflow: auto;
}

.meaning {
    font-size: 4vw; /*24px*/
    width: 100%;
}

.onyomi, .kunyomi {
    font-size: 3vw; /*16px*/
    width: 50%;
}

.examples {
    font-size: 3vw; /*16px*/
    text-align: left;
    border-block-style: dotted;
    padding: 10px 5px;
    margin: 5px 0px;
    width: 100%;
}

.more {
    font-size: 3vw; /*12px*/
}

@media screen and (min-width: 600px) {
    .meaning, .preest, .btn#know, .btn#dunno, .btn#flip {
        font-size: 24px;
    }
    .onyomi, .kunyomi, .examples {
        font-size: 16px;
    }
    .more {
        font-size: 12px;
    }
}

/* Attention Anim */

.preest0, .preest1, .preest2, .preest9  {
  animation: .5s wiggle ease;
}

@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*/ JUMP
.btn--jump.is-active {
  animation: .4s jump ease infinite alternate;
}

@keyframes jump {
  0% {
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
  }
}
*/

/* Results */

.pred {
    height: 64px;
    line-height:48px;
    margin: 10px 0px 0px 0px;
}

.pred-header {
    line-height:12px;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}
.predmain {
    vertical-align:middle;
    font-size: 48px;
    font-weight: 700;
}

.predrange {
    vertical-align:middle;
    font-size: 12px;
    color: #6c757d;
}

.chart-container {
    margin: 0px auto;
    height: 200px;
    width: 90%;
    max-width: 1200px;
}

/*.ansTrue {
    color: #267f00;
}

.ansFalse {
    color: #B40020;
}*/

@media screen and (min-height: 550px) {
    .preest {
        padding-top: 50px;
    }
    body {
        margin-top: 50px;
    }
}

@media screen and (min-height: 650px) {
    .preest {
        padding-top: 100px;
    }

}

/* History
-------------------------------------------------- */

.dt-buttons {
    text-align: right;
}

.mwt_q {
  font-size: larger;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10vw; /* Margin bottom by footer height */
  padding-bottom: 10vw; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vw;
  line-height: 10vw;
  background-color: #f5f5f5;
  font-size: 3.5vw;
}

@media screen and (min-width: 600px) {
    .footer {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
    }
    body {
        margin-bottom: 60px;
        padding-bottom: 60px;
    }
}

/* General Styling
-------------------------------------------------- */

#start_test {
    width: 20em;
    max-width: 90%;
}

#start_study{
    width: 15em;
    max-width: 90%;
}

.explanation, .outro {
     font-size: 14px;
     line-height: 1;
}

.slogan {
    color: #52B129;
    font-variant: small-caps;
}

.donate {
    color: #fdb0c0;
}

.btn-group {
    margin: 0px 5px;
}

.btn-success {
    background-color: #267f00;
}

.btn-danger {
    background-color: #B40020;
}

.btn-primary {
    background-color: #117a8b;
}

.title-lg {
    width: 90%;
    max-width: 600px;
}

.title-sm {
    width: 90%;
    max-width: 200px;
}

.card-header {
    padding: 0px;
}

.collapseFAQ {
    /*text-align: left;*/
}