{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
		<a href="/"><img src="/static/img/jiken.png"></a>
		<p class="slogan">Test Your Kanji</p>
		<br>
		<br>
		<p>JiKen uses statistics from users like you to estimate your Kanji knowledge in as few questions as possible (as few as 10 questions gives a reasonable estimate!). 
    		Each test reacts to your answers.
    		Answer more questions to train the program and fine tune your estimate.</p>
    	<p> Hotkeys: ← Know, → Don't Know, ↓ Flip card</p>
    	<p> Tip: Treat it seriously, no "Well, I should have known that one!" answers.</p>
		<p>Keep in mind that this is still in a <i>very</i> alpha state. <a href="https://github.com/Ambiwlans/KTest">Report any bugs</a> you find!</p>
        <br>
		<a class="btn btn-success btn-lg" role="btn" href="/test">START</a>
		<br><br>
		<p>Credit to the <a href="http://www.edrdg.org/wiki/index.php/KANJIDIC_Project">KANJIDIC</a> team for the kanji list/definitions.</p>
	</div>
	

{% endblock content %}

