{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
		<!--h1>Welcome to JiKen</h1-->
		<a href="/"><img src="/static/img/jiken.png"></a>
		<p>Test Your Kanji</p>
		<br>
		<br>
		<p>JiKen uses machine learning to estimate your Kanji skills in as few questions as possible. 
    		Each test reacts to your answers. 
    		Answer more questions to train the program and fine tune the estimate.</p>
		<p>Keep in mind that this is still in a <i>very</i> alpha state. Report any bugs you find!</p>
        <br>
        <br>
		<a class="btn btn-success btn-lg" role="btn" href="/test">START</a>
	</div>
	<br>
	<br>

{% endblock content %}

