{% extends "base.html" %}
{% block content %}
	<div class="container">
		<h1 class="text-center">Welcome to JiKen</h1>
		<p class="text-center">Test Your Kanji</p>
		<br>
		<br>
		<p class="text-center">JiKen uses machine learning to estimate your Kanji skills in as few questions as possible. Each test reacts to your answers. Answer more questions to train the program and fine tune the estimate.</p>
        <br>
        <br>
		<div class="text-center"><a class="btn btn-success btn-lg" role="btn" href="/quiz">START</a></div>
	</div>
	<br>
	<br>

{% endblock content %}

