{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
    	<h1><a href="/" class="home-link">JiKen</a></h1>
    	
    	<div class="flashcard" ontouchstart="this.classList.toggle('hover');">
            <div class="frontside container ">
                <h1 class="question">{{question.question}}</h1>
            </div>
            <div class="backside container">
                <h1 class="answer">{{question.answer}}</h1>
            </div>
        </div>

		<a class="btn btn-success btn-lg" role="btn" href="/test?a=1&q={{question.id}}">Know it</a>
		<a class="btn btn-danger btn-lg" role="btn" href="/test?a=0&q={{question.id}}">Don't Know</a>
		
		<p>History:</p>
		<p>{% for q in oldquestions %}
            <span class="ans{{q.score}}">{{q.testmaterial.question}}</span>{{ "," if not loop.last }} 		
		{% endfor %}</p>
	</div>
	<br>
	<br>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flip.css')}}">
{% endblock content %}

