{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
		<a href="/"><img class="title-sm" src="{{ url_for('static', filename='img/jiken.png') }}"></a>
		<p class="slogan">Test Your <em>Book's</em> Kanji</p>
        
        <br>
        <h1>Book Check</h1>
        <br><br>
        
        <p> Enter text here and get its kanji breakdown to see what the reading level is. Great for checking out books, but works well for website and anything else textual. 
        If you have completed a test here, you can generate study lists for kanji that YOU will need to learn for the book, do drills here, or export to anki if you prefer.</p>
        
        <div class="container">
            <!-- User Section -->
            {% if id %}
                <p> Comparing to test #{{id}}.</p>
            {% else %}
                <p> If you'd like to compare text to your personal knowledge level: <a type="button" class="btn btn-success btn-sm" id="new" role="btn" href="/test">Do a Test!</a>
                or 
                <div class="input-group input-group-sm col-12">
                    <input type="text" class="form-control" placeholder="Id #" id="in_id"></input>
                    <button class="btn btn-success btn-sm" type="button" onclick="window.open('/bookcheck?id=' + $('#in_id').val(),'_self');">Go</button>
                </div>
                </p>
                <!-- or enter your test link here -->
            {% endif %}  

            <!-- Form -->            
    		<form>
                <div class="mb-3 text-left">
                    <label for="in_a" class="form-label">Kanji Knowledge Level:</label>  <label for="in_a" class="form-label" id="a_label">{{a}}</label> 
            		<input class="form-control" type="range" id="in_a" min="1" max="{{max_a}}" step="1" value={{a}}></input>
                    <label for="in_t" class="form-label">Knowledge Precision:</label>
            		<input class="form-control" type="range" id="in_t" min="0" max="10" value={{(t * 1000) | int}}></input>
            		<label for="in_kpp" class="form-label">Challenge Level:</label>  <label for="in_kpp" class="form-label" id="kkp_label">Average (Can read all but ~0.4 kanji per page)</label>
            		<input class="form-control" type="range" id="in_kpp" min="-3" max="3" step="1" value=0></input>
        		</div>
                <div class="mb-3 text-left">
                    <label for="in_txt" class="form-label">Text to analyze:</label>
            		<textarea class="form-control" id="in_txt"></textarea>
        		</div>
        		<button type="button" class="btn btn-primary" id="analyze">Analyze!</button>
    		</form>
    		
    		<!-- Results --->
    		<div class="text-left">
        		<h3>Results:</h3>
        		<p> How many kanji you should know for text to be readable (at selected Challenge Level): <span id="out_a"></span></p>
        		<p> Readability (at selected Kanji Knowledge Level): <span id="out_kpp"></span></p>
        		<p> Fraction of text that is kanji: <span id="out_pct_k"></span></p>
    		</div>
    		
    		<!-- Graph -->
    		
    		<!-- Study list -->
    		<h3 class="text-left">Study list:</h3>
    		
    		<p id="studylist"></p>
    		<br>
    		<br>                
    		
            <!-- Buttons -->    	
            {% if id %}
            <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group btn-group-sm" role="group" aria-label="Nav Button Block">
                <a type="button" class="btn btn-success" id="new" role="btn" href="/t/{{id}}">Back to Test Results</a>
            </div>
            </div>
            {% endif %}
	</div>

{% endblock content %}

{% block scripts %}
    {{super()}}
    <script> 
    
    // Form ui scripts
    $("#in_a").on("change input", function() {
        $("#a_label").html($(this).val())
    })
    $("#in_kpp").on("change input", function() {
        var in_kpp_raw = parseInt($('#in_kpp').val());
        
        var msg = '';
        switch(in_kpp_raw) {
            case -3:
            case -2:
                msg = "Very Readable";
                break;
            case -1:
                msg = "Readable";
                break;
            case 0:
                msg = "Average";
                break;
            case 1:
                msg = "Decent Challenge";
                break;
            default:
                msg = "Very Challenging!"
        }
        
        var in_kpp = (2.5 ** (in_kpp_raw - 1)).toFixed(2);
        
        msg = msg + " (Can read all but ~" + in_kpp + " kanji per page)";
        $("#kkp_label").html(msg)
    })
    
    var tm = {{ tm|tojson|safe }};  //(rank, kanji)
    const char_per_page = 300;
    $('#analyze').on('click', function(event) {
    
        // Get and format vars
        var in_a = parseInt($('#in_a').val());
        var in_t = $('#in_t').val()/1000;
        var in_kpp = (2.5 ** (parseInt($('#in_kpp').val()) - 1)).toFixed(2);
        
        var input = $('#in_txt').val();
        var initial_length = input.length;
        
        var should_know_pct = 1-(in_kpp / char_per_page)
        var should_know_cnt = Math.floor(initial_length * should_know_pct);
        
        var out_a = -1;
        var out_kpp = -1;
        
        
        var studylist = "";
        
        var counts = Array(tm.length).fill(0);
        
        // start count with all the non-kanji and strip them
        input = input.replace(/[^\u4e00-\u9faf|\u3400-\u4dbf]/g, "");
        var out_pct_k = (1 - (initial_length - input.length)/initial_length).toFixed(2) + "%";
        var culm_count = initial_length - input.length;
        
        // go through every kanji (in my_rank order) and strip them from input, tally them
        for (let i = 0; i < tm.length; i++) {
            var tmp_split_array = input.split(tm[i][1]);
            input = tmp_split_array.join('');
            counts[i] = tmp_split_array.length - 1;
            if (input == ""){break;}
        }
        
        // rescan for counts (separate for future changes)
        for (let i = 0; i < tm.length; i++) {
            
            culm_count += counts[i];
            
            // given in_kpp (->should_know_cnt), how many kanji should you know
            if (culm_count >= should_know_cnt && out_a == -1) {
                out_a = tm[i][0];
            }
            
            // given # known kanji a, how hard is txt?
            if (i >= in_a && out_kpp == -1) {
                out_kpp = ((1 - (culm_count / initial_length)) * char_per_page).toFixed(2);
                out_kpp = "You can read all but ~" + out_kpp + "kanji per page";  
            }
            
            // build a studylist
            if (i >= in_a && counts[i] > 0) {
                if (studylist == ""){
                    studylist = tm[i][1];
                }
                else{
                    studylist += ", " + tm[i][1];
                }
            }
            
            if (culm_count == initial_length){break;}
        }            
        
        $('#out_a').html(out_a);
        $('#out_pct_k').html(out_pct_k);
        $('#out_kpp').html(out_kpp);
        $('#studylist').html(studylist);
    });
    
    </script>
{% endblock %}