{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
		<a href="/"><img class="title-sm" src="{{ url_for('static', filename='img/jiken.png') }}"></a>
		<p class="slogan">Test Your <em>Book's</em> Kanji</p>
        
        <br>
        <h1>Book Check</h1>
        <br><br>
        
        <!-- Intro -->
        <p class="lead"> Enter text and get its kanji breakdown to see what the reading level is. Great for checking out books, but works well for websites and anything else textual. 
        If you have completed a test here, you can generate study lists for kanji that YOU will need to learn for the book, do drills here, or export to anki if you prefer.</p>
        <ul class="explanation">
          <li> Play with the dials manually to get a better idea of what you should be studying.</li>
          <li> Longer texts work better than short ones.</li>
          <li> This isn't <i>exactly</i> reading difficulty. There are plenty of hard words that use common kanji. And you'll often see names with difficult kanji.</li>
          <li> This works poorly in determining the difficulty of jargon heavy medical or ancient texts, but the wordlist is still useful.</li>
        </ul>
        
        <!-- User Section -->
        {% if id %}
            <p> Defaults from test <a href="/t/{{id}}">#{{id}}</a>.</p>
        {% else %}
        <p>To compare text to your personal knowledge level:</p>
        <form class="row align-items-center mb-3">
        	<div class="col">
        		<a id="new" role="btn" href="/test" type="button" class="btn btn-success btn-sm">New Test!</a></div>
        	<div class="col">or</div>
        	<div class="input-group input-group-sm col">
        		<input type="text" class="form-control" placeholder="Old Test Id #" id="in_id">
        		<button class="btn btn-success btn-sm" type="button" onclick="window.open('/bookcheck?id=' + $('#in_id').val(),'_self');">Go</button>
        	</div>
        </form>
        {% endif %}  
            
        <div class="explanation container">
            <!-- Form -->            
    		<form>
                <div class="mb-3 text-left">
                    <label for="in_a" class="form-label">Kanji Knowledge Level:</label>  <b><label for="in_a" class="form-label" id="a_label">{{a | int}}</label> </b>
            		<input class="form-control" type="range" id="in_a" min="1" max="{{config['MAX_X']}}" step="1" value={{a | int}}></input>
                    <label for="in_t" class="form-label">Knowledge Precision:</label>
            		<input class="form-control" type="range" id="in_t" min="0" max="10" value={{(t * 1000) | int}}></input>
            		<label for="in_kpp" class="form-label">Challenge Level:</label>  <b><label for="in_kpp" class="form-label" id="kkp_label">Average (Can read all but ~0.4 kanji per page)</label></b>
            		<input class="form-control" type="range" id="in_kpp" min="-4" max="4" step="1" value=0></input>
        		</div>
                <div class="mb-3 text-left">
                    <label for="in_txt" class="form-label">Text to analyze (more pages -> more accurate):</label>
            		<textarea class="form-control" id="in_txt"></textarea>
        		</div>
        		<button type="button" class="btn btn-primary" id="analyze">Analyze!</button>
    		</form>
    	</div>
    	
    	<!-- Results --->
    	<div id="results" class="explanation container" style="display: none">
    		<!-- Graph -->
        	<div class="chart-container">
                <canvas id="predChart"></canvas>
            </div>
            <div class="btn-group btn-group-sm btn-group-toggle chart-toggles" data-toggle="buttons">
              <label class="btn btn-secondary chart_toggle active" id="linear">
                <input type="radio" autocomplete="off" checked> Linear
              </label>
              <label class="btn btn-secondary chart_toggle" id="logarithmic">
                <input type="radio" autocomplete="off" > Logarithmic
              </label>
            </div>
            <div class="btn-group btn-group-sm btn-group-toggle chart-toggles2" data-toggle="buttons">
              <label class="btn btn-secondary chart_toggle2 active" id="count">
                <input type="radio" autocomplete="off" checked> Kanji Count
              </label>
              <label class="btn btn-secondary chart_toggle2" id="unique">
                <input type="radio" autocomplete="off" > Unique Kanji
              </label>
            </div>
    		<!-- Stats --->
    		<div class="text-left">
        		<h3>Results:</h3>
        		<p> How many kanji you need to know to read the text <i>(at selected Challenge Level)</i>: <b><span id="out_a"></span></b></p>
        		<p> Readability <i>(at selected Kanji Knowledge Level)</i>: <b><span id="out_kpp"></span></b></p>
        		<p> Fraction of text that is kanji (novels are typically 15~30%): <b><span id="out_pct_k"></span></b></p>
        		<p> Kanji count: <b><span id="out_uniq_kcount"></span></b></p>
    		</div>
    		
    		<!-- Study list -->
    		<h3 class="text-left">Study list:</h3>
            <table id="study_table" class="table"></table>
    		<br>
    		<br>                
    		
            <!-- Buttons -->    	
            {% if id %}
            <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group btn-group-sm" role="group" aria-label="Nav Button Block">
                <a type="button" class="btn btn-success" id="new" role="btn" href="/t/{{id}}">Back to Test Results</a>
            </div>
            </div>
            {% endif %}
        </div>
	</div>

{% endblock content %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bcchart.js')}}"></script>
    
    <!-- Study Table -->
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/study_table.js')}}"></script>
    
    <script> 
    // Form ui scripts
    $("#in_a").on("change input", function() {
        $("#a_label").html($(this).val())
    })
    $("#in_kpp").on("change input", function() {
        var in_kpp_raw = parseInt($('#in_kpp').val());
        
        var msg = '';
        switch(in_kpp_raw) {
            case -4: 
                msg = "Trivial";
                break;
            case -3:
            case -2:
                msg = "Very Readable";
                break;
            case -1:
                msg = "Readable";
                break;
            case 0:
                msg = "Average";
                break;
            case 1:
                msg = "Decent Challenge";
                break;
            case 2:
            case 3:
                msg = "Very Challenging!"
                break;
            default:
                msg = "Unreadable!"
        }
        
        var in_kpp = (2.5 ** (in_kpp_raw - 1)).toFixed(2);
        
        msg = msg + " (Can read all but ~" + in_kpp + " kanji per page)";
        $("#kkp_label").html(msg)
    })
    $('.chart_toggle').on('click', function(event) {
        if ($(this)[0].id == 'logarithmic'){
            scaletype = [{                
                type: 'logarithmic',
                ticks: {
                     min: 0,
                     max: 100000,
                     callback: function (value, index, values) {
                         if (value === 100000) return "100K";
                         if (value === 10000) return "10K";
                         if (value === 1000) return "1K";
                         if (value === 100) return "100";
                         if (value === 10) return "10";
                         if (value === 1) return "1";
                         if (value === 0) return "0";
                         return null;
                     }
                }}];
        }
        else {
            scaletype = [{type: 'linear'}];
        }
        mainChart.destroy();
        mainctx = document.getElementById('predChart').getContext('2d');
        mainChart = makeChart();
    });
    
    $('.chart_toggle2').on('click', function(event) {
        if ($(this)[0].id == 'unique'){
            data = {
                labels: binlabels,
                datasets: [{
                    type: 'bar',
                    label: 'Unknown',
                    backgroundColor: '#B40020',
                    data: wrong_uni_binned
                },{
                    type: 'bar',
                    label: 'Known',
                    backgroundColor: '#267f00',
                    data: right_uni_binned
                }]
            };
        }
        else {
            data = {
                labels: binlabels,
                datasets: [{
                    type: 'bar',
                    label: 'Unknown',
                    backgroundColor: '#B40020',
                    data: wrong_cnt_binned
                },{
                    type: 'bar',
                    label: 'Known',
                    backgroundColor: '#267f00',
                    data: right_cnt_binned
                }]
            };
        }
        mainChart.destroy();
        mainctx = document.getElementById('predChart').getContext('2d');
        mainChart = makeChart();
    });
    
    //
    // Analyze
    //
    const tm = {{ tm|tojson|safe }};  //(rank, kanji)
    const char_per_page = 300;
    
    var mainctx = document.getElementById('predChart').getContext('2d');    
    var mainChart;
    var scaletype = [{type: 'linear'}];
    
    var in_a, in_t, max_x;
    var counts = [];
    
    $('#analyze').on('click', function(event) {
    
        // Get and format vars
        in_a = parseInt($('#in_a').val());
        in_t = $('#in_t').val()/1000;
        max_x = 0;
        var in_kpp = (2.5 ** (parseInt($('#in_kpp').val()) - 1)).toFixed(2);
        
        var input = $('#in_txt').val();
        var initial_length = input.length;
        
        var should_know_pct = 1-(in_kpp / char_per_page)
        var should_know_cnt = Math.floor(initial_length * should_know_pct);
        
        var out_a = -1;
        var out_kpp = -1;
        
        
        var studylist = [];
        
        counts = Array(tm.length).fill(0);
        var uniquecount = 0;
        var knownuniquecount = 0;
        
        // start count with all the non-kanji and strip them
        input = input.replace(/[^\u4e00-\u9faf|\u3400-\u4dbf]/g, "");
        var out_pct_k = Math.floor((1 - (initial_length - input.length)/initial_length) * 100) + "%";
        var culm_count = initial_length - input.length;
        
        // go through every kanji (in my_rank order) and strip them from input, tally them
        for (let i = 0; i < tm.length; i++) {
            var tmp_split_array = input.split(tm[i][1]);
            input = tmp_split_array.join('');
            counts[i] = tmp_split_array.length - 1;
            if (input == ""){break;}
        }
        
        // rescan for counts (separate for future changes)
        for (let i = 0; i < tm.length; i++) {
            
            culm_count += counts[i];
            
            // count unique kanji
            if (counts[i] > 0){ 
                uniquecount++;
                if (i < in_a){
                    knownuniquecount++;
                }
            }
            
            // given in_kpp (->should_know_cnt), how many kanji should you know
            if (culm_count >= should_know_cnt && out_a == -1) {
                out_a = tm[i][0];
            }
            
            // given # known kanji a, how many do you NOT know?
            if (i >= in_a && out_kpp == -1) {
                out_kpp = ((1 - (culm_count / initial_length)) * char_per_page).toFixed(2);
                out_kpp = "You can read all but ~" + out_kpp + " kanji per page. (" + (100 * out_kpp / char_per_page).toFixed(2) + "% of characters)";  
            }
            
            
            // collect words for studylist
            if (i >= in_a && counts[i] > 0) {
                studylist.push(tm[i]);
            }
            
            if (culm_count == initial_length){
                max_x = i;
                break;
            }
        }            
        if (out_kpp == -1){out_kpp = "You can read every kanji in this text";}
        
        // request additional info for studylist (disabled until DB size is large enough to warrant switch)
        // $.getJSON('/more_tm', {'my_ranks': studylist}, function (result) {make_wl(result)})
        
        
        make_table(studylist,'generic',{{id}},"{{(date|string)[:-3]}}");
        table.columns.adjust();
        
        // Make chart
        makeHistoData(max_x, {{hist_bins}});
        if (mainChart){
            mainChart.destroy();
            mainctx = document.getElementById('predChart').getContext('2d');
        }
        mainChart = makeChart();        
                    
        $('#out_a').html(out_a);
        $('#out_pct_k').html(out_pct_k);
        $('#out_kpp').html(out_kpp);
        $('#out_uniq_kcount').html("You can read " + knownuniquecount + " of the " + uniquecount + " unique kanji that appear in this text.");
        $('#studylist').html(studylist);
        $('#results').show();
    });
    
    </script>
{% endblock %}






