<footer class="footer">
    <div class="container">
        <div class="text-muted text-center footer-content">
        <span class="float-center footer-note">By <a href="https://github.com/Ambiwlans" target="_blank">Ambiwlans</a>. Share it if you like it.</span>
        <span class="float-right">
            <a href="https://twitter.com/intent/tweet?button_hashtag=jiken&ref_src=twsrc%5Etfw"><i class="fab fa-twitter-square fa-lg"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            &nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fjiken.herokuapp.com%2F&amp;src=sdkpreparse" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
        </span>
        </div>
    </div>
</footer>



