<footer class="footer">
    <div class="container">
        <div class="text-muted text-center footer-content">
        <span class="float-center footer-note"><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fjiken.herokuapp.com%2F&via=Ambiwlans1&hashtags=jiken">Share</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> it if you like it, <a class="donate" href="https://paypal.me/jikentest">donate</a> if you love it.</span>
        <span class="float-right">
            <a href="https://twitter.com/Ambiwlans1"><i class="fab fa-twitter-square fa-lg"></i></a>
            &nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fjiken.herokuapp.com%2F&amp;src=sdkpreparse" target="_blank"><i class="fab fa-facebook-square fa-lg"></i></a>
        </span>
        </div>
    </div>
</footer>



