{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
    	<a href="/"><img class="sm" src="/static/img/jiken.png"></a>		
		
		<br>
		<p>{{cnt}} questions answered! 
		{% if cnt > avg_answered %}
    		More 
    	{% else %}
        	Less
    	{% endif %}
    	 than the average {{avg_answered}} of other testers. </p>
		<p>{{pred[0]}} known kanji estimated compared to the average {{avg_known}}.</p>
		<br>
		
		<!-- Predictions -->    	    	
    	<div class="container pred">
        	<p class="pred-header">Estimates</p>
        	<span class="predrange"><span class="predrange predlower" data-toggle="tooltip" data-placement="left" title="lower bound">{{pred[2]}}</span>&nbsp; &nbsp; - &nbsp; &nbsp;</span>
            	<span class="predmain" data-toggle="tooltip" data-placement="top" data-html="true" title="{{pred[0]}}">{{pred[0]}}</span>
        	<span class="predrange predupper" data-toggle="tooltip" data-placement="right" title="upper bound">&nbsp; &nbsp; - &nbsp; &nbsp;{{pred[1]}}</span>
    	</div>
    	
    	
    	<!-- Chart -->    	
    	<div class="chart-container">
            <canvas id="predChart"></canvas>
        </div>
        
        <!-- Buttons -->    	
        {% if curtest %}
            <a class="btn btn-success btn-lg float-right" id="return" role="btn" href="/test?a=-1">Back to Test</a>
        {% endif %}
	</div>
{% endblock content %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
    {%- include 'chart.js' -%}
{% endblock %}















