{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
        <a href="/"><img class="title-sm" src="/static/img/jiken.png"></a>
		<p class="slogan">Test Your Kanji</p>
		<br>
		Results for test on {{(date|string)[:-3]}}GMT
		<br>
		
		<!-- Predictions -->    	    	
    	<div class="container pred">
        	<p class="pred-header">Estimates</p>
        	<span class="predrange"><span class="predrange predlower" data-toggle="tooltip" data-placement="left" title="lower bound">{{pred[2]}}</span>&nbsp; &nbsp; - &nbsp; &nbsp;</span>
            	<span class="predmain" data-toggle="tooltip" data-placement="top" data-html="true" title="{{pred[0]}}">{{pred[0]}}</span>
        	<span class="predrange predupper" data-toggle="tooltip" data-placement="right" title="upper bound">&nbsp; &nbsp; - &nbsp; &nbsp;{{pred[1]}}</span>
    	</div>
    	
    	
    	<!-- Chart -->    	
    	<div class="chart-container">
            <canvas id="predChart"></canvas>
        </div>
        
        <hr>
        <script data-cfasync='false' type='text/javascript' src='//p386432.clksite.com/adServe/banners?tid=386432_758560_2'></script>
        <hr>
        
        <div class="explanation container">
            <!-- Stats -->
            <br>
            <h3 class="text-left">Stats:</h3>
            <p><b>{{cnt}}</b> questions answered! 
    		{% if cnt > avg_answered %}
        		More 
        	{% else %}
            	Less
        	{% endif %}
        	 than the average {{avg_answered}} of other testers.
        	 <br>
    		You know <b>{{pred[0]}}</b> kanji vs the average {{avg_known}}.</p>
    		
        
            <!-- Relevant kanji lists -->
            {% if wronganswers|length > 0 %}
                <h3 class="text-left">Kanji to review:</h3>
            	<h1>
        		{% for q in wronganswers[:10] %}
                    <a href="https://jisho.org/search/{{q[1]}} %23kanji" class="review">{{q[1]}}</a>{{ " - " if not loop.last }} 		
        		{% endfor %}
        		</h1>	
            {% endif %}
            <br>
            <p>Tip: Be sure to bookmark this page to compare to the next time you take a test</p>
        </div>
        <!-- Buttons -->    	
        {% if curtest %}
            <a class="btn btn-info btn-sm float-right" id="return" role="btn" href="/test?a=-1">Continue Test</a>
        {% endif %}
        &nbsp; &nbsp;<a class="btn btn-success btn-sm float-right" id="new" role="btn" href="/test">New Test</a>
        
	</div>
{% endblock content %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
    {%- include 'chart.js' -%}
{% endblock %}















