{% extends "base.html" %}
{% block content %}
	<div class="container text-center">
    	<a href="/"><img class="sm" src="/static/img/jiken.png"></a>
    	
    	<!-- Flashcard -->    	
    	<div class="flashcard" onclick="flip()">
            <div class="frontside container">
                {% if question.my_rank != 7000 %}
                    <p class="my_rank" data-toggle="tooltip" data-placement="left" title="Kanji rank determined by commonness, complexity and user data">{{question.my_rank}}</p>
                {% endif %}
                
                <div class="top-right">
                    {% if question.jlpt != 6 %}
                        <p class="jlpt" data-toggle="tooltip" data-placement="right" title="JLPT grade level">N{{question.jlpt}}</p>
                    {% else %}
                        <p class="jlpt" data-toggle="tooltip" data-placement="right" title="JLPT grade level">N1+</p>
                    {% endif %}
                    {% if question.grade != 14 %}
                        <p class="grade" data-toggle="tooltip" data-placement="right" title="Jōyō grade level">Gr{{question.grade|int}}</p>
                    {% else %}
                        <p class="grade" data-toggle="tooltip" data-placement="right" title="Jōyō grade level">Gr13+</p>
                    {% endif %}
                </div>
                <h1 class="kanji">{{question.kanji}}</h1>
            </div>
            <div class="backside container">
                <h1 class="meaning">{{question.meaning}}</h1>
                <h4 class="onyomi">{{question.onyomi}}</h4>
                <h4 class="kunyomi">{{question.kunyomi}}</h4>
                <a href="https://jisho.org/search/{{question.kanji}} %23kanji" class="more">...more</p>
            </div>
        </div>

        <!-- Buttons -->    	
		<a class="btn btn-success btn-lg" id="know" role="btn" href="/test?a=1&q={{question.id}}">Know it</a>
		<a class="btn btn-danger btn-lg" id="dunno" role="btn" href="/test?a=0&q={{question.id}}">Don't Know</a>
		
		
		<!-- Predictions -->    	
    	{% if cnt > 10 %}
    	
    	<div class="container pred">
        	<p class="pred-header">Estimates</p>
        	<span class="predrange"><span class="predrange predmin">{{pred[2]}}</span>&nbsp; &nbsp; - &nbsp; &nbsp;</span>
        	<span class="predmain" data-toggle="tooltip" data-placement="top" data-html="true" title="{{pred[0]}}">{{pred[0]}}</span>
        	<span class="predrange">&nbsp; &nbsp; - &nbsp; &nbsp;{{pred[1]}}</span>
    	</div>
    	
    	
    	<!-- Chart -->    	
    	<div class="chart-container">
            <canvas id="predChart"></canvas>
        </div>
        {% else %}
        <div class="container pred">
            <br><br>
            <h4>
            {% if cnt == 0 %}
                Answer at least 10 to get an estimate...
            {% elif cnt == 1 %}
                The more you answer, the more accurate the estimate...
            {% elif cnt == 2 %}
                Tap the card to flip it and check your answers.
            {% elif cnt == 3 %}
                Treat it seriously, no "<em>Well, I should have known that one!</em>" answers.
            {% elif cnt == 4 %}
                The top left shows what rank difficulty the kanji is.
            {% elif cnt == 5 %}
                The top right shows the JLPT grade level and Jouyou grade level.
            {% elif cnt == 6 %}
                On PC, try mousing over things for an explanation. 
            {% elif cnt == 7 %}
                Hotkeys: ← Know, → Don't Know, ↓ Flip card
            {% elif cnt == 8 %}
                Remember you can keep going after the initial result...
            {% elif cnt == 9 %}
                Good Luck!
            {% elif cnt == 10 %}
                頑張って!
            {% endif %}
            </h4>
        </div>
        {% endif %}
        
	</div>
{% endblock content %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flip.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for('static', filename='js/hotkeys.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/tooltip.js')}}"></script>
    {%- include 'chart.js' -%}
{% endblock %}















